/* General Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between; /* Align logo to the left and links to the right */
  align-items: center;
  padding: 1rem 2rem;
  background: linear-gradient(135deg, #1a1033 0%, #1f2937 100%);
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  max-width: 1300px; /* Match the hero container width */
  margin: 0 auto; /* Center the navbar */
  
}

.navbar .navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: auto; /* Push logo to the left */
}

.navbar .navbar-logo .logo-text {
  color: #8B5CF6;
}


.navbar-links {
  list-style: none;
  display: flex;
  font-size: 13px;
  gap: 6rem;
  margin-left: auto; /* Push links to the right */
}

.navbar-links li a {
  text-decoration: none;
  color: #9CA3AF;
  font-weight: 500;
  position: relative;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar-links li a:hover {
  color: inear-gradient(90deg, #8b5cf6 0%, #6366f1 100%);;
  transform: scale(1.1);
}

.navbar-links li a::after {
  content: ''; 
  position: absolute;
  bottom: -3px; 
  left: 0;
  width: 0;
  height: 2px; 
  background: linear-gradient(90deg, #8b5cf6 0%, #6366f1 100%);
  transition: width 0.3s ease; 
}

.navbar-links li a.active {
  background: linear-gradient(90deg, #8b5cf6 0%, #6366f1 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.navbar-links li a:hover::after {
  width: 100%; 
}

/* Menu Icon */
.navbar-menu {
  display: none;
  font-size: 1.5rem;
  cursor: pointer;
  background-color: transparent;
}

.navbar-menu .menu-icon, .navbar-menu .close-icon {
  color: #fff;
  font-size: 2rem;
  background: transparent;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .navbar-links {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #0a0a0a;
      width: 100%;
      padding: 0.5rem 0;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  .navbar-links.active {
      display: flex;
  }

  .navbar-links li {
      margin: 0.1rem 0;
      padding: 0.1rem 1rem;
      text-align: left;
  }

  .navbar-menu {
      display: block;
  }

  .navbar-links li a:hover::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100vw; 
      height: 2px; 
      background: linear-gradient(90deg, #8b5cf6 0%, #6366f1 100%);
      transform: scale(1.1); 
      transition: width 0.3s ease; 
  }

  .navbar-links li a.active::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100vw; 
      height: 2px; 
      background: linear-gradient(90deg, #8b5cf6 0%, #6366f1 100%);
  }
}